# Install and test
name: Python package
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest]
                python-version:
                    - "3.10"
                    - "3.11"
                    - "3.12"
                    - "3.13"
                    - "3.14"
        steps:
            - uses: actions/checkout@v2
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: python -m pip install .[dev]
            - name: Check docstrings
              run: python -m pydocstyle edgetest_conda --convention=numpy
            - name: Check static typing
              run: python -m mypy edgetest_conda
            - name: Run flake8
              run: python -m flake8 edgetest_conda
            - name: Run unit testing
              run: python -m pytest tests --cov=edgetest_conda --cov-fail-under=90
